@import "./libs/normalize";

@import "./components/all";

body {
  font-family: "Mulish", sans-serif;
}
.container {
  max-width: 1300px;
  margin: auto;
}
a {
  color: rgb(32, 31, 31);
  text-decoration: none;
}
.notfound {
  h2 {
    text-align: center;
    padding: 100px;
  }
}
::-webkit-file-upload-button {
  background: rgb(94, 91, 91);
  padding: 5px;
  border: none;
  border-radius: 5px;
  outline: none;
  color: white;
  margin-right: 20px;
}
