@import "./libs/normalize";

@import "./components/all";

body {
  font-family: "Mulish", sans-serif;
}
.container {
  max-width: 1300px;
  margin: auto;
}
a {
  color: #fff;
  text-decoration: none;
}
